/* Spicetify Dark Mono Theme */
/* https://github.com/radityaharya/custom-tweaks */

/************************************* Global **************************************/
/* Changes the font family for all elements on the page to "JetBrains Mono", a monospaced font */
* {
    font-family: "JetBrains Mono", monospace !important;
}

/* Color Setings */
:root {
    --spice-main: transparent;
    --spice-button: #1db954;
    --spice-main-elevated: #000000;
    --spice-card: #000000;
    --spice-highlight: #000000;
    --spice-subtext: #b3b3b3;
    --spice-misc: #7f7f7f;
    --spice-highlight-elevated: #000000;
    --spice-sidebar: #000000;
    --spice-notification-error: #e22134;
    --spice-player: #000000;
    --spice-button-active: #1ed760;
    --spice-notification: #4687d6;
    --spice-selected-row: #ffffff;
    --spice-shadow: #000000;
    --spice-tab-active: #000000;
    --spice-text: #ffffff;

    --spice-rgb-main: 0,0,0;
    --spice-rgb-button: 29,185,84;
    --spice-rgb-main-elevated: 0,0,0;
    --spice-rgb-card: 0,0,0;
    --spice-rgb-highlight: 0,0,0;
    --spice-rgb-subtext: 179,179,179;
    --spice-rgb-misc: 127,127,127;
    --spice-rgb-highlight-elevated: 0,0,0;
    --spice-rgb-sidebar: 0,0,0;
    --spice-rgb-notification-error: 226,33,52;
    --spice-rgb-player: 0,0,0;
    --spice-rgb-button-active: 30,215,96;
    --spice-rgb-button-disabled: 83,83,83;
    --spice-rgb-notification: 70,135,214;
    --spice-rgb-selected-row: 255,255,255;
    --spice-rgb-shadow: 0,0,0;
    --spice-rgb-tab-active: 0,0,0;
    --spice-rgb-text: 255,255,255;
}

/* Global Background */
.Root{
/*     background-image: url("https://wallpaperaccess.com/full/8808052.jpg"); /* Insert Background image here! */ 
    background-repeat: no-repeat;
    background-size:cover;
}

.Root__top-container{
    background-color: rgba(0,0,0,0.5) !important; /* Overlay */
}

/***************************** Main Header and Top Bar ******************************/
/* Customizes the margin of the title in the main header */
span.Type__TypeElement-sc-goli3j-0.TypeElement-canon-type-draggable.main-entityHeader-topbarTitle {
    margin-left: 10px;
    margin-top: 5px;
}

.main-home-homeHeader{
    background: var(--spice-main) !important
}

/***************************** Sidebar Customization ******************************/

/* Hides the filter area in the sidebar (Your Library) */
.main-yourLibraryX-filterArea {
    display: none !important;
}

/* Hides the search bar in the sidebar (Your Library) */
.main-yourLibraryX-libraryFilter {
    display: none;
}

/* Adds padding to the left and top of the library sidebar items */
.main-yourLibraryX-libraryRootlist {
    padding-left: 0px;
    padding-top: 0px;
}

/***************************** Dark Theme Customization ******************************/

/* Makes the cards slightly darker with a transparent black background */
.main-card-card {
    background: rgba(24, 24, 24, 0.1) !important;
}

/* Makes the cards even darker when hovering over them */
.main-card-card:hover {
    background: rgba(24, 24, 24, 0.6) !important;
}

/***************************** Customizing Fonts and Font Sizes ******************************/
/* Changes the font size for certain elements in the header area */
.HeaderArea div p {
    font-size: 14px;
}

/* Changes the font size for certain elements in the header area */
.HeaderArea div div p {
    font-size: 12px;
}

/***************************** Buddyfeed Customization ******************************/

/* Removes padding from the left and right sides of the Buddyfeed header */
.main-buddyFeed-header {
    padding-left: 0px;
    padding-right: 0px;
}

/***************************** Scrollbar Customization ******************************/
/* Hides the scrollbar thumb, making it transparent */
*::-webkit-scrollbar-thumb {
    background-color: transparent !important;
}

/***************************** Playlist, Artist and Tracklist Customization ******************************/
/* Changes the background color of the main entity header container to black */
.main-entityHeader-container:not(.main-entityHeader-withBackgroundImage) > div {
    background: var(--spice-main) !important;
}


/* Add Gradient to Artist Banner */
.main-entityHeader-withBackgroundImage {
    background: linear-gradient(0deg, var(--spice-rgb-main) 0%, rgba(255,255,255,0) 80%) !important;
}

/* Remove title margins */
.main-entityHeader-title > h1{
    margin: 0px !important;
}


/* Changes the background color of the action bar to black */
.main-actionBarBackground-background {
    background: var(--spice-main) !important;
}

.main-entityHeader-detailsText.genre-container{
    margin-top: -10px
}

/* hide "Artist Genres: " */
.main-entityHeader-detailsText.genre-container > span{
    display: none
}

/***************************** Top Bar and Now Playing View ******************************/
/* Changes the background color of the top bar to black */
.main-topBar-background {
    background: var(--spice-main)!important
}

/* Changes the background color of the now playing view to black and set padding */
.main-nowPlayingView-content {
    background: var(--spice-main)!important;
    padding-right: 16px !important;
}

/* force nowplaying bg color */
.main-buddyFeed-container{
    background: var(--spice-main) !important;
}

/***************************** Your Library and Search Customization ******************************/
/* Hides the "Your Library" icon in the sidebar */
.main-yourLibraryX-collapseButton span {
    display: none !important;
}

/* Adds padding to the left of the search input in the top bar */
.main-topBar-searchBar input {
    padding-left: 42px;
}

/* Hides the icons in the Your Library sidebar */
.main-yourLibraryX-navItem a svg {
    display: none !important;
}

/* Hides the genre switch in the now playing widget */
.main-nowPlayingWidget-nowPlaying button:last-child {
    display: none;
}

/***************************** More Sidebar Customization ******************************/
/* Changes the gap between items in the sidebar */
.main-navBar-mainNav {
    gap: 0;
}

/* Moves the header of the Your Library sidebar up by 10px and removes left padding */
.main-yourLibraryX-header {
    margin-top: -10px !important;
    padding-left: 0px;
}

/* Removes left padding from the sidebar items in Your Library */
.main-yourLibraryX-navItems {
    padding-left: 0px;
}

.Root__nav-bar{
    background: var(--spice-main)
}

/***************************** Additional Customizations ******************************/
/* Removes right padding from the Buddyfeed content area */
.main-buddyFeed-content {
    padding-right: 0px;
}

/* Hides the "Add Friends" button */
button[aria-label="Add Friends"] {
    display: none;
}

/* Removes the "Close" button in the Buddyfeed */
.main-buddyFeed-actions button[aria-label="Close"] {
    display: none !important;
}

/* Hides the lyrics configuration button and shows it on hover */
.lyrics-lyricsContainer-LyricsContainer .lyrics-config-button-container button {
    display: none;
}

.lyrics-lyricsContainer-LyricsContainer:hover .lyrics-config-button-container button {
    display: flex;
}

/* Hides the lyrics provider in the now playing widget */
.lyrics-lyricsContainer-Provider {
    display: none;
}

/* Hides unnecessary items in Your Library sidebar */
.main-yourLibraryX-listItemGroupCompact div p:not(.main-yourLibraryX-listRowTitleLink) {
    display: none;
}

/* Adds left padding to the sidebar items in Your Library */
.main-yourLibraryX-navItem {
    padding-left: 8px !important;
}

.main-trackInfo-container{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

.main-whatsNewFeed-listRow{
    margin-top: 10px;
    margin-right: 10px;
    padding: 12px !important;
}

.main-nowPlayingWidget-trackInfo{
    overflow: hidden 
}

/* .main-trackInfo-container .main-trackInfo-name, */
.main-trackInfo-container .main-trackInfo-enhanced{
    order: -1;
}

.main-nowPlayingWidget-coverArt div{
    min-height: 75px;
    min-width: 75px;
}

.main-trackInfo-genres{
    opacity: 0.5;
    max-width: 100% !important;
    word-wrap: normal;   
}