html.theme_dark body {
    background-color: #0a0a0a;
}

html.theme_dark .card-body:not(.bg-light>.card-body) {
    background-color: #0a0a0a;
}

html.theme_dark .card-header {
    background-color: #191919;
}

html.theme_dark .navbar {
    background-color: #191919;
}

html.theme_dark .btn-primary {
    background-color: #788bff;
    border-color: #788bff;
}

button.btn.btn-outline-primary.btn-sm {
    background-color: #788bff;
    border-color: #788bff;
}

html.theme_dark .modal-header {
    background-color: #191919;
}

html.theme_dark .modal-body {
    background-color: #0a0a0a;
}

html.theme_dark .modal-footer {
    background-color: #191919;
}
